
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--FONT);
}
html{
    scroll-behavior: smooth;
}
:root{
    --FONT: 'Jost', sans-serif;;
    --PINK_ONE: #FFF5EF;
    --WHITE: #FFF;
    --GREY: #606060;
    --ORANGE: #FF6B00;
    --BLACK: #101010;
    --LFONT: 50px;
    --MFONT: 18px;
    --BFONT: 21px;
    --SFONT: 16px;
}
body{
    position: relative;
    overflow-x: hidden;
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--PINK_ONE);
}
.logoImg{
    width: max-content;
    position: relative;
    height: 40px;
    isolation: isolate;
}
.logoImg h2{
    display: inline;
}
.circle{
    position: absolute;
    top: 0;
    z-index: -1;
    right: calc(50% - 15px);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--ORANGE);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--PINK_ONE);
    min-height: 73px;
    min-width: 100vw;
    padding-inline: 13px;
}
.fixedHeader{
    position: fixed;
    top: 0px;
    left: 0px
}
.logo{
    height: 3;
}
.openMenu{
    top: 0px;
    left: 40%;
    z-index: 4;
    flex-grow: 1;
    margin-left: 13px;
    position: fixed;
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    transition: all 0.5s ease;
}
.closedMenu{
    left: 120%;
}
.menuList{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    height: 30%;
}
.menuList li{
    list-style: none;
    display: block;
    text-align: left;
    height: 30px;
    font-size: var(--MFONT);
    text-decoration: underline;
    text-decoration-color: #FF6B00;
    text-decoration-thickness: 3px;
}
.menuList :any-link{
    text-decoration: none;
    color: inherit;
}
.btn{
    display: flex;
    height: 21px;
    background-color: transparent;
    position: relative;
    justify-content: center ;
    align-items: center;
    flex-flow: column nowrap;
    width: 22px;
    cursor: pointer;
} 
.menu, .menu::before, .menu::after{
    min-height: 3px;
    cursor: pointer;
    border: none;
    min-width: 22px;
    background-color: var(--BLACK);
}
.menu::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
}
section{
    overflow: hidden;
}
.sec{
    padding-inline: 16px;
}
.one{
    background-color: var(--PINK_ONE);
    display: flex;
    position: relative;
    isolation: isolate;
    padding-bottom: 16px;
}
.lines, .particleOne{
    position: absolute;
}
.particleOne{
    width: 70px;
    animation: spin 20s linear 5s infinite forwards;
}
@keyframes spin {
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
    }
    100%{
        rotate: 360deg;
    }
}
.lines{
    top: 70px;
    left: 10%;
    z-index: -1;
    width: 500px;
    animation: lines 8s linear 5s infinite forwards;
}
@keyframes lines {
    0%{translate: 0;}
    50%{translate: -40px -40px}
    100%{translate: 0}
}
.larry{
    width: 100vw;
    display: block;
}
.two{
    background-color: var(--PINK_ONE);
    padding-inline: var(--SFONT);
    padding-bottom: 30px;
    position: relative;
    isolation: isolate;
}
.des img{
    display: block;
    height: var(--SFONT);
    margin-right: 8px;
}
.des{
    display: flex;
    align-items: center;
    min-height: fit-content;
}

h1, .des h2{
    font-size: var(--SFONT);
    font-weight: 400;
    text-transform: uppercase;
}
.creative h2, .sec_title{
    letter-spacing: 4px;
    font-size: var(--LFONT);
}

.creative h2 span{
    color: var(--ORANGE);
}
.desc{
    padding-top: 20px;
    font-size: var(--MFONT);
}
.desc p span{
    color: var(--ORANGE);
    font-size: 1.2rem;
}
.cv_btn{
    cursor: pointer;
    width: 230px;
    height: 56px;
    border: none;
    border-radius: 6px;
    background-color: var(--ORANGE);
    color: var(--WHITE);
    font-size: var(--BFONT);
    margin-top: 30px;
}
.particleTwo{
    position: absolute;
    right: 40px;
    bottom: 5px;
    z-index: -1;
}
.three{
    padding-bottom: 2rem;
}
.anything h2{
    letter-spacing: 4px;
    padding-top: var(--SFONT);
    font-size: 50px;
}
.three p{
    padding-top: var(--SFONT);
    font-size: var(--MFONT);
}
.item_large{
    font-size: var(--MFONT);
    display: flex;
    margin-top: 16px;
}
.item_large img{
    margin-right: 15px;
}
.counter{
    color: var(--ORANGE);
}
.four{
    padding-top: 2rem;
    background-color: var(--WHITE);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 3rem;
}
.sec_title{
    text-align: center;
}
.serv_comp{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
    justify-content: space-around;
    padding-block: 60px;
    padding-inline: 70px;
    height: 280px;
    width: 100%;
    border: 1px solid var(--PINK_ONE);
    border-radius: 6px; 
}
.serv_comp:hover{
    background-color: var(--PINK_ONE);
}
.serv_comp h3{
    font-size: 1.5rem;
}
.serv_container{
    margin-top: 15px;
}
.center{
    width: 100%;
    justify-content: center;
}
.contact{
    padding-block: 2rem;
}
.inp, textarea{
    display: block;
    min-width: 100%;
    min-height: 68px;
    border: 1px solid var(--ORANGE);
    border-radius: 6px;
    font-size: var(--MFONT);
    padding-inline: 1.5rem;
    margin-bottom: 1.5rem;
}
form{
    padding-top: 2rem;
}
.inp:focus{
    outline: 3px solid var(--ORANGE);
    border: 2px solid rgb(0, 126, 168);
}
.submit{
    font-family: inherit;
}
.item{
    display: flex;
    margin-top: 2rem;
}
.item h3{
    font-size: 1.5rem;
}
.itemImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    margin-right: 2rem;
    border-radius: 6px;
    background-color: var(--ORANGE);
    color: #FFF;
}
.fter{
    font-size: 1.5rem;
    color: white;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #101010;
}

@media (min-width: 820px) {
    .sec{
        padding-inline: 3rem;
    }
}