
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--FONT);
}
:root{
    --FONT: 'Jost', sans-serif;;
    --PINK_ONE: #FFF5EF;
    --WHITE: #FFF;
    --GREY: #606060;
    --ORANGE: #FF6B00;
    --BLACK: #101010;
    --LFONT: 50px;
    --MFONT: 18px;
    --BFONT: 21px;
    --SFONT: 16px;
}
body{
    overflow-x: hidden;
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--PINK_ONE);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--PINK_ONE);
    min-height: 73px;
    min-width: 100vw;
    padding-inline: 13px;
    
}
.logo{
    height: 3;
}
.btn{
    display: flex;
    height: 21px;
    background-color: transparent;
    position: relative;
    justify-content: center ;
    align-items: center;
    flex-flow: column nowrap;
    width: 22px;
    cursor: pointer;
}
.menu, .menu::before, .menu::after{
    min-height: 3px;
    cursor: pointer;
    border: none;
    min-width: 22px;
    background-color: var(--BLACK);
}
.menu::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
}
section{
    overflow: hidden;
}
.sec{
    padding-inline: 16px;
}
.one{
    background-color: var(--PINK_ONE);
    display: flex;
    position: relative;
    isolation: isolate;
    padding-bottom: 16px;
}
.lines, .particleOne{
    position: absolute;
}
.particleOne{
    width: 70px;
}
.lines{
    top: 70px;
    left: 10%;
    z-index: -1;
    width: 500px;
}
.larry{
    width: 100vw;
    display: block;
}
.two{
    background-color: var(--PINK_ONE);
    padding-inline: var(--SFONT);
    padding-bottom: 30px;
    position: relative;
}
.des img{
    display: block;
    height: var(--SFONT);
    margin-right: 8px;
}
.des{
    display: flex;
    align-items: center;
}

h1, .des h2{
    font-size: var(--SFONT);
    font-weight: 400;
    text-transform: uppercase;
}
.creative h2, .services_title{
    letter-spacing: 4px;
    font-size: var(--LFONT);
}

.creative h2 span{
    color: var(--ORANGE);
}
.desc{
    padding-top: 20px;
    font-size: var(--MFONT);
}
.desc p span{
    color: var(--ORANGE);
    font-size: 1.2rem;
}
.cv_btn{
    cursor: pointer;
    width: 230px;
    height: 56px;
    border: none;
    border-radius: 6px;
    background-color: var(--ORANGE);
    color: var(--WHITE);
    font-size: var(--BFONT);
    margin-top: 30px;
}
.particleTwo{
    position: absolute;
    right: 40px;
    bottom: 5px;
}
.three{
    padding-bottom: 2rem;
}
.anything h2{
    letter-spacing: 4px;
    padding-top: var(--SFONT);
    font-size: 50px;
}
.three p{
    padding-top: var(--SFONT);
    font-size: var(--MFONT);
}
.item_large{
    font-size: var(--MFONT);
    display: flex;
    margin-top: 16px;
}
.item_large img{
    margin-right: 15px;
}
.counter{
    color: var(--ORANGE);
}
.four{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 3rem;
}
.services_title{
    text-align: center;
}
.serv_comp{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
    justify-content: space-around;
    padding-block: 60px;
    padding-inline: 70px;
    height: 280px;
    width: 100%;
    border: 1px solid var(--ORANGE);
    border-radius: 6px; 
}
.serv_comp h3{
    font-size: 1.5rem;
}
.serv_container{
    margin-top: 15px;
}